body{
    text-align: center;
    font-family: 'GmarketSansMedium';
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a{
    color: #000000;
    transition-duration: 0.6s;
    text-decoration:none;
}
a:hover{
    color: #c22a0f;
}

p{
    margin: 0;
}

h3{
    color: #c22a0f;
    font-weight:800;
}
h1{
    font-size: 50px;
    color: #c22a0f;
    font-weight:800;
}

button{
    font-family: 'GmarketSansMedium';
    margin: 5px;
    border-radius: 10px;
    background-color:  white;
    color: #000;
    transition: 0.5s;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #c22a0f ;
    transform: scale(1.0);
}
button:hover{
    background-color:  #c22a0f;
    color: #ffffff;
    transform: scale(1.5);
}
ul{
    text-align: center;
}
::selection {
    background-color: #c22a0f;
    color: white;
}
li{
    list-style: none;
    margin: 4px 0;
}